venv/
.env
.DS_Store
__pycache__/
/logs/
.vscode/
airflow/config/
airflow/dags/__pycache__/
airflow/logs/
letsencrypt/
data/*
!data/nginx
data/nginx/*
!data/nginx/proxy_host
data/nginx/proxy_host/*
!data/nginx/proxy_host/1.conf
